<PaperCard local-class="app-card" as |card|>
  <card.title local-class="card-title {{this.titleClass}}" as |title|>
    <title.text>
      <text.headline>
        <LinkTo local-class="heading-link" @route="app" @model={{@app.id}}>
          {{@app.name}}
        </LinkTo>
      </text.headline>
    </title.text>
  </card.title>
  <card.content>
    {{#if @app.liveBuild}}
      <div class="layout-row flex">
        <div class="layout-column flex">
          <p>
            Branch
          </p>
          <p>
            branch name
          </p>
        </div>
        <div class="layout-column flex">
          <p>
            SHA
          </p>
          <p>
            abc123
          </p>
        </div>
      </div>
      <div class="layout-row flex">
        <div class="layout-column flex">
          <p>
            Deployed
          </p>
          <p>
            some time ago (actual date)
          </p>
        </div>
      </div>
    {{else}}
      <div class="layout-row flex layout-align-center-center">
        <em local-class="no-build">
          No active build
        </em>
      </div>
    {{/if}}
    <card.actions class="layout-row flex layout-align-space-between">
      <LinkTo
        @route="app"
        @model={{@app}}
        @tagName="button"
        class="md-default-theme md-button md-ink-ripple"
        type="button"
      >
        See builds
      </LinkTo>
      <PaperButton
        @accent={{true}}
        @href={{@app.location}}
        @target="_blank _noreferrer _noopener"
      >
        Launch app
      </PaperButton>
    </card.actions>
  </card.content>
</PaperCard>