<PaperCard local-class="app-card" as |card|>
  <card.title local-class="card-title {{this.titleClass}}" as |title|>
    <title.text>
      <text.headline>
        <LinkTo
          local-class="heading-link"
          @route="apps.show"
          @model={{@app.id}}
        >
          {{@app.name}}
        </LinkTo>
      </text.headline>
    </title.text>
  </card.title>
  <card.content local-class="card-detail">
    {{#if @app.liveBuild}}
      <div class="layout-row flex">
        <div class="layout-column flex">
          <p>
            Branch
          </p>
          <p>
            {{@app.liveBuild.branch}}
          </p>
        </div>
        <div class="layout-column flex">
          <p>
            SHA
          </p>
          <p>
            {{@app.liveBuild.shortSha}}
          </p>
        </div>
      </div>
      <div class="layout-row flex">
        <div class="layout-column flex">
          <p>
            Deployed
          </p>
          <p>
            {{relative-time @app.liveBuild.createdAt}}
            (
            {{format-date @app.liveBuild.createdAt}}
            )
          </p>
        </div>
      </div>
    {{else}}
      <div class="layout-row flex layout-align-center-center">
        <em local-class="no-build">
          No active build
        </em>
      </div>
    {{/if}}
    <hr>
    <card.actions class="layout-row flex layout-align-space-between">
      <LinkTo
        @route="apps.show"
        @model={{@app}}
        class="md-default-theme md-button md-ink-ripple"
        type="button"
      >
        See builds
      </LinkTo>
      <PaperButton
        @accent={{true}}
        @href={{@app.location}}
        @target="_blank _noreferrer _noopener"
      >
        Launch app
      </PaperButton>
    </card.actions>
  </card.content>
</PaperCard>